.image,
figure {
  grid-column: feature;

  &.full {
    grid-column: full;
    border-radius: unset;
  }

  figcaption {
    margin-block-start: 0.5rem;
    padding-inline: var(--space-md);
    font-size: 0.8em;
    font-style: italic;
    line-height: 1.3;
    text-align: center;
    color: var(--color-text-accent);
  }
}
